@import 'colors';

.ui {
  &.main.container {
    padding-top: 7em;
  }

  &.inverted.menu {
    background-color: $primary-color;
  }
}

.logo-text {
  color: gray;
  font-size: 1em;
  font-weight: 300;
  padding-top: 10px;
  padding-left: 0 !important;
}
